.app-container {
  @apply flex flex-row min-h-screen;
}

.app-container .app-sidebar {
  position: relative;
  width: 300px;
  box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.3);
  visibility: 1;
  transition: all 270ms ease;
}

.app-container .app-sidebar.hide {
  width: 0px;
  visibility: 0;
  transform: translateX(-300px);
}

.app-container .app-content {
  @apply w-full;
}

.app-container .app-content .app-header {
  position: absolute;
  margin: 0;
  padding: 0;
}

.app-container .app-content .app-body {
}

.app-container .app-content .app-footer {
  @apply flex justify-start items-center w-full py-1 ps-3;
  position: fixed;
  bottom: 0;
  background: rgb(0, 139, 139, 0.7);
  color: #fff;
  font-size: 10pt;
}
